<% provide(:title, "Create Account") %>
<h1>Create an Account</h1>
No email required!

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.submit "Create Account", class: "btn btn-primary" %>
<% end %>