<% provide(:title, "Create Account") %>
<h1>Create an Account</h1>
No email required!

<%= form_for @user do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user, class: 'form-control', autofocus: true %>
  <%= f.submit "Create Account", class: "btn btn-primary" %>
<% end %>