<% provide(:title, 'Profile') %>
<%# TODO  only show past events in toggle field, show who is hosting events / location of attending events %>
<%= render 'shared/expired_events', expired_events: @expired_events %>
<div class="attending-events">
  <p>Upcoming Events:</p>
  <% @upcoming_events.each do |event| %>
    <ul>
      <li><%= link_to event.title, event_path(event) %></li>
      <li class="event-date"><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
    </ul>
  <% end %>
</div>