<% provide(:title, 'Profile') %>
<div class="expired-events">

</div>
<div class="created-events">
  <p>Events you have created:</p>
  <% if @user.events.empty? %>
      <p>You have no events scheduled.</p>
  <% else %>
    <% @user.events.each do |event| %>
      <ul>
        <li class="event-title"><%= link_to "#{event.title}", event_path(event) %></li>
        <li class="date"><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="attending-events">
  <p>Events you are attending:</p>
  <% @attended_events.each do |event| %>
    <ul>
      <li><%= link_to event.title, event_path(event) %></li>
      <li><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
    </ul>
  <% end %>
</div>