<% provide(:title, 'Profile') %>
<% if @user.events.empty? %>
    <p>You have no events scheduled.</p>
<% else %>
  <% @user.events.each do |event| %>
    <ul class="event-title"><%= event.title %></ul>
    <ul class="event-body"><%= event.body %></ul>
  <% end %>
<% end %>
