<% provide(:title, 'Profile') %>
<% if @user.events.empty? %>
    <p>You have no events scheduled.</p>
<% else %>
  <% @user.events.each do |event| %>
    <ul>
      <li class="event-title">Event: <%= link_to "#{event.title}", "/events/#{event.slug}" %></li>
      <li class="event-snip"><%= event.body.truncate(27, separator: /\s/) %></li>
      <li class="date"><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
      <li class="location"><%= event.location %></li>
    </ul>
  <% end %>
<% end %>
