<div class="expired-events">
  <a data-toggle="collapse" href="#expiredEvents">Click to view past events</a>
  <div class="collapse" id="expiredEvents">
    <ul>
      <% expired_events.each do |event| %>
        <li><%= link_to event.title, event_path(event) %></li>
        <li class="event-date"><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
      <% end %>
    </ul>
  </div>
</div>