<div class="expired-events">
  <a data-toggle="collapse" href="#expiredEvents">Click to view past events</a>
  <div class="collapse" id="expiredEvents">
    <% expired_events.each do |event| %>
      <%= link_to event.title, event_path(event) %>
    <% end %>
  </div>
</div>