<% event_list.each do |event| %>
  <div class="events-list">
    <ul>
      <li><%= link_to "#{event.title}", event_path(event) %> Hosted by: <%= event.creator.username %></li>
    </ul>
  </div>
<% end %>
