<% provide(:title, @event.title) %>
<%# TODO make page look better %>
<div class="event-info">
  <p>Event Hosted By: <%= @organizer.username %></p>
</div>
<div class="attendees">
  RSVPs:
  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= attendee.username %></li>
    <% end %>
  </ul>
</div>
<% if @organizer == current_user %>
  <%= render 'events/invite_users' %>
<% end %>
<%= debug(params) unless params.nil? %>