<% provide(:title, @event.title) %>
<%# TODO make page look better %>
<div class="event-info">
Event Information:
</div>
<div class="attendees">
  RSVPs
  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.username %></li>
    <% end %>
  </ul>
</div>
