<div class="invitations">
  <% if @invitations.any? %>
    <p>You have <%= pluralize(@invitations.count, "invitation") %>.</p>
    <div class="events-list">
      <ul>
        <% @event.each do |event| %>
          <li><%= link_to "#{event.title}", event_path(event) %> - Hosted by <%= "#{event.creator.username}" %></li>
          <li class="event-date"><%= I18n.l(event.date, format: :long, locale: :'en') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
