@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Mixins, variables, etc */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

$navbar-link-color: white;
$navbar-link-hover: grey;
$navbar-background-color: #333333;

/* General */
body {
  padding-top: 60px;
}

// Line up events on profile page
.created-events {
  ul {
    padding-left: 0;
  }
}


/* Header */
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: capitalize;
  padding-top: 9px;
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  background-color: $navbar-background-color;
  .nav {
    li {
      a {
        color: $navbar-link-color;
        &:hover {
          color: $navbar-link-hover;
          background-color: $navbar-background-color;
        }
      }
    }
    .open > a {
      background-color: $navbar-background-color;
      &:hover, &:focus {
        background-color: $navbar-background-color;
      }
    }
  }
}


.navbar-center {
  margin-left: 30%;
}

.dropdown-menu {
  background-color: $navbar-background-color;
}
/* Typography */

h1 {
  text-align: center;
}

h1 {
  line-height: 1;
  letter-spacing: -1px;
}

li {
  list-style: none;
}

/* Forms */

#location{
  margin-top: 10px;
}

.form-control {
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

/* Misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing
}

#error-messages {
  margin-left: -20px;
  color: red;
  li {
    list-style: none;
  }
}

.alert {
  margin-left: 22px;
}
